/*Global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hammersmith One', sans-serif;
    list-style: none;
    text-decoration: none;
}


/*Global Variables*/
:root{
    --bg-color: #000000;
    --text-color: #fff;
    --main-color: #8acdea;

    --big-font: 7rem;
    --p-font: 1.1rem;
}


/*Body Content*/
body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    margin: 0;
}


/*Header Content*/
header{
    position:fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: black;
    background-image: url("MenuBackground.png");
    transition: all ease 0.45s;
    padding: 0;
}


/*Header Container Content*/
.headerContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    padding-left: 0;   /* Remove left padding */
    padding-right: 0;
}


/*Logo Section*/
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
    white-space: nowrap;
}

/*Logo Cool Color Change*/
.logo span1,span2,span3,span4{
    font-size: 41px;
    font-weight: 600;
}

.logo span1:hover{
    color: rgb(48, 48, 255);
}

.logo span2:hover{
    color: rgb(47, 255, 47);
}

.logo span3:hover{
    color: rgb(253, 253, 60);
}

.logo span4:hover{
    color: rgb(255, 56, 56);
}


/*Navigation Bar Section*/
.navbar{
    display: inline-flex;
}

.navbar a{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;  
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}


/*Home Section*/
section{
    padding: 0px 15%;
}

.home{
    position: realative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 30px;
}

.home-text h1{
    font-size: 100px;
    margin: 15px, 0px;
}

.home-text span{
    font-size: 25px;
    color: var(--main-color);
}

.home-text p{
    font-size: 18px;
}

/*Image Container*/
.image-container{
    position: relative;
    width: 1500px;
    height: 750px;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Top Image and Bottom Image*/
.top-img, .bottom-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top:0;
    left:0;
}

/*Rotoating Fucntion*/
@keyframes rotateImg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/*Assigning bottom to spin*/
.bottom-img{
    animation: rotateImg 60s linear infinite;
}



/*Resume and LinkedIn Profile */
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 300;
    border: 4px solid var(--text-color);
    font-size: 20px;
}

.btn:hover{
    background: var(--bg-color);
    color: var(--main-color);
}

.main-btn{
    padding-top: 20px;
    padding-bottom: 10px;
}

@media (max-width: 1850px){
    header{
        padding: 15px 8%;
        transition: .2s;
    }
    section{
        padding: 0 8%; 
        transition: .2s;
    }
}

@media (max-width: 1370px){
    header{
        padding: 15px 4%;
        transition: .2s;
    }
    section{
        padding: 0 4%; 
        transition: .2s;
    }
    :root{
        --big-font: 5.5rem;
        --p-font: 1 rem;
        transition: .2s;
    }
} 

@media (max-width: 1020px){
    .navbar a{
        margin: 0 15ps
    }
    :root{
        --big-font: 5rem;
        --p-font: 1 rem;
        transition: .2s;
    }
} 

@media (max-width: 950px){
    section{
        padding: 70px 4%;
    }
    header{
        padding: 11px 4%; 
    }
    .home{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text{
        order: 2
    }
      
    
} 
