*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hammersmith One', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #000000;
    --text-color: #fff;
    --main-color: #31f4f1;

    --big-font: 7rem;
    --p-font: 1.1rem;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header{
    position:fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease 0.45s;
}

.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;  
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

.menu-btn{
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

section{
    padding: 0 15%;
}

.home{
    position: realative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: spance-between;
    gap: 30px;
}

.home-img{
    width: 200px; /* Adjust the circle size as needed */
    height: 200px;
    border-radius: 50%; /* Create a circle shape */
    overflow: hidden; /* Hide any content outside the circle */
    position: relative;
    margin: 0 auto; /* Center the circle horizontally */
    top: calc(50% - 100px); /* Center the circle vertically */
    background-color: transparent; /* No background color for the circle */
}

.home-img img{
    width: 100%;
    height: auto;
}

@keyframes scrollRight {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the background behind other content */
    animation: scrollRight 10s linear infinite; /* Adjust the animation duration (10s) as needed */
    background-size: cover; /* Ensure the background image covers the entire container */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
}


